 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/maquina-de-fabrica-metalica.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin: 100px 440px 0 0;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-right: 440px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 240px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 240px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 120px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 460px;
}

.u-section-2 .u-text-1 {
  width: 840px;
  margin: 50px auto 0;
}

.u-section-2 .u-image-1 {
  width: 750px;
  height: 500px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  width: 840px;
  margin: 20px auto 50px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 480px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 360px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 187px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 460px;
}

.u-section-3 .u-text-1 {
  width: 840px;
  margin: 50px auto 0;
}

.u-section-3 .u-image-1 {
  width: 750px;
  height: 500px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  width: 840px;
  margin: 20px auto 50px;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 480px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 360px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 187px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 213px;
}

.u-section-4 .u-text-1 {
  margin: 20px auto 0 213px;
}

.u-section-4 .u-icon-1 {
  width: 173px;
  height: 173px;
  margin: -104px auto 0 20px;
  padding: 0;
}

.u-section-4 .u-text-2 {
  margin: -49px auto 0 213px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  margin: 10px auto 39px 213px;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 160px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 160px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 101px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 101px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 101px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 460px;
}

.u-section-5 .u-text-1 {
  width: 840px;
  margin: 50px auto 0;
}

.u-section-5 .u-image-1 {
  width: 750px;
  height: 500px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-2 {
  width: 840px;
  margin: 20px auto 50px;
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 480px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 360px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 187px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}